[Desktop Entry]
Name=Scallar
Comment=Addictive puzzle game to kill time
Comment[pl]=Uzależniająca gra logiczna, która pomaga zabić czas
Icon=scalar
Exec=scalar
Terminal=false
Type=Application
Categories=Game;LogicGame;
# vi: encoding=utf-8
